<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'users/list', user: @user, book: @new_book %>
    </div>

    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <% @book %>
      <table class="table">
        <thead>
          <tr>
            <td><%= image_tag @user.get_profile_image(100,100) %><br>
                <%= link_to @user.name, user_path %>
            </td>
            <td><%= link_to book_path(@book.id) do %>
            <%= @book.title %>
            <% end %>
            </td>
            <td><%= @book.body %></td>

            <td><% if @book.user == current_user %>
            <%= link_to "Edit", edit_book_path(@book), class: "btn btn-sm btn-success" %>
            <% end %>
            </td>

            <td><% if @book.user == current_user %>
            <%= link_to "Destroy", book_path(@book), method: :delete, data: {confirm: "本当に消しますか？"},
            class: "btn btn-sm btn-danger" %>
            <% end %>
            </td>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
