<div class="col-md-8" "offset-md-1">
  <h2>Book detail</h2>
  <% @book %>
  <table>
    <thead>
      <tr>
        <%#<th><%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg", size: '100x100' %><br>
            <%#<%= link_to user_path(@user) do %>
            <%#<%= link_to user_path(@user) do %>
            <%#<%= @user.name %>
            <%#<% end %> 
        </th>
        <th><%= link_to book_path(@book.id) do %>
            <%= @book.title %>
            <% end %>
        </th>
        <th><%= @book.body %></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
  </table>
</div>
